# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Virtual environments
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Exclude the dataset folder to save space (we don't need to submit this)
data/
